# Terraform files and directories
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.lock.*
terraform.rc
.envrc

# Node.js files and directories
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker files and directories
#Dockerfile*
docker-compose*
*.log

# OS or Editor files
.DS_Store
*.swp
*.swo
.vscode/
